<!-- build:js js/vendor.js --> 
//bower:js
script(src='/bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js')
script(src='/bower/perfect-scrollbar/js/perfect-scrollbar.js')
script(src='/bower/handlebars/handlebars.js')
//endbower
<!-- endbuild -->
script(src="http://vk.com/js/api/openapi.js", type="text/javascript")
<!-- build:js js/main.js --> 
script(src="js/main.js")
<!-- endbuild -->
