| {{#each list}}
|     <li class="filter-content__item">
|         <div class="filter-content-ava">
|             <img class="filter-content-ava__img" src={{photo_50}}, alt="ava">
|         </div>
|         <div class="filter-content-name">
|             <div class="filter-content-name__text">
|                 {{first_name}} {{last_name}}
|             </div>
|         </div>
|         <div class="filter-content-btn">
|             <a class="filter-content-btn__add" href="#">
|                 <i class="fa fa-plus"></i>
|             </a>
|         </div>
|     </li>
| {{/each}}