.filter
    .filter-friends
        .filter-logo
            img.filter-logo__img(src="images/title.png", alt="title")
        .filter-friends__wrap
            .filter-title
                .filter-title__left
                    .filter-title__text Выберите друзей
                .filter-title__right
                    a.filter-title__close(href="#")
                        i.fa.fa-times
            .filter-search
                .filter-search-left
                    input.filter-search__input(type="search", name="left-name", id="leftName", placeholder="Начните вводить имя друга")
                    .filter-search__btn
                        i.fa.fa-search
                .filter-search-right
                    input.filter-search__input(type="search", name="right-name", id="rightName", placeholder="Имя в списке")
                    .filter-search__btn
                        i.fa.fa-search
            .filter-content
                .filter-content-left
                    .filter-content-title
                        .filter-content-title__text Ваши друзья

                    ul#allFriends.filter-content__list.filter-content__list--all
                    script(id="listTemplate" type="text/x-handlebars-template")
                        include list-script.jade
                .filter-content-right
                    .filter-content-title
                        .filter-content-title__text Друзья в списке

                    ul#addedFriends.filter-content__list.filter-content__list--added
                    script(id="addedListTemplate" type="text/x-handlebars-template")
                        include listAdded-script.jade
            .filter-save
                input.filter-save__btn(type="submit", value="Сохранить", id="submit")
