.title
    img.title__img(src="images/title.png", alt="title")
.filter
    .filter-friends
        .filter-friends__wrap
            .filter-title
                .filter-title__left
                    .filter-title__text Выберите друзей
                .filter-title__right
                    a.filter-title__close(href="#")
                        i.fa.fa-times
            .filter-search
                .filter-search-left
                    input.filter-search__input(type="text", name="firstName", id="leftName", placeholder="Начните вводить имя друга")
                    .filter-search__btn
                        i.fa.fa-search
                .filter-search-right
                    input.filter-search__input(type="text", name="firstName", id="leftName", placeholder="Имя в списке")
                    .filter-search__btn
                        i.fa.fa-search
            .filter-content
                .filter-content-left
                    .filter-content-title
                        .filter-content-title__text Ваши друзья
                    ul.filter-content__list#allFriends
                        -for(var i = 0; i < 7; i++)
                            li.filter-content__item
                                .filter-content-ava
                                    img.filter-content-ava__img(src="images/ava.png", alt="ava")
                                .filter-content-name
                                    .filter-content-name__text Artem Baranov
                                .filter-content-btn
                                    a.filter-content-btn__add(href="#")
                                        i.fa.fa-plus

                .filter-content-right
                    .filter-content-title
                        .filter-content-title__text Друзья в списке
                    ul.filter-content__list#addedFriends
                        li.filter-content__item
                            .filter-content-ava
                                img.filter-content-ava__img(src="images/ava.png", alt="ava")
                            .filter-content-name
                                .filter-content-name__text Artem Baranov
                            .filter-content-btn
                                a.filter-content-btn__remove(href="#")
                                    i.fa.fa-times
            .filter-save
                input.filter-save__btn(type="submit", value="Сохранить", id="submit")