@font-face {
    font-family: 'fira_sanslight';
    src: url('./firasans-light.eot');
    src: url('./firasans-light.eot?#iefix') format('embedded-opentype'),
         url('./firasans-light.woff') format('woff'),
         url('./firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_sansmedium';
    src: url('./firasans-medium.eot');
    src: url('./firasans-medium.eot?#iefix') format('embedded-opentype'),
         url('./firasans-medium.woff') format('woff'),
         url('./firasans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
